extends ../layouts/main.pug

block scripts
  script(src="/main.js") 
  script(src="/admin.js") 

block content
  main.container.page-admin
    h1.title=`Om Lab GPT | ${title}`
    select.chats-select(js-admin-chats-select)
      option(value="" selected=(!chatId) autocomplete="off")="Select a chat"
      each chat in chats
        option(value=chat.chatId selected=(chatId === chat.chatId))=chat.name
    div.messages-wrapper(js-messages-wrapper)
      ol.messages(js-messages)
        each message in messages
          li(class=`message message--${message.role}` js-message=message._id)=message.content
            button.delete-btn(type="button" js-delete=message._id)='X'
      span.loader(js-loader)
        span.dots
    form(action="./" method="POST" js-admin-form)
      if chatId
        input(type="hidden" value=chatId js-admin-chat-id)
      div.radio-group
        input#radio-system.radio-input(type="radio" name="role" value="system" checked js-admin-radio)
        label.radio-label(for="radio-system")
          | System
        input#radio-assistant.radio-input(type="radio" name="role" value="assistant" js-admin-radio)
        label.radio-label(for="radio-assistant")
          | Assistant
        input#radio-sandwich.radio-input(type="radio" name="role" value="sandwich" js-admin-radio)
        label.radio-label(for="radio-sandwich")
          | Sandwich
      div.form
        input.input(name="message", type="text" autocomplete="off" js-admin-input)
        button.btn(type="submit")='Send'